/*
color - bubblegum theme

*/
/* 
    Created on : Nov 19, 2015, 3:26:59 AM
    Author     : RAM
*/
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700|Lemon);
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;}
h1 {
    font-family: 'Lemon', cursive;}
a{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-decoration: none;}
#header {
    color: #00B9CC;
    background-color: #92f5ff;}
#header a {
    color: #00E8FF;}
#nav li{
    border: 2px dotted #ffffff;
    border-radius: 10px;}
#footer {
    color: #CC0087;
    background-color: #ff63ca;}
#footer a {
    color: #FF00A8;}
#feature {
    color: #00CC46;
    background-color: #87ffb0;}
#feature a{
    color: #00FF57;}
.article:nth-child(odd) {
    color: #C1CC00;
    background-color: #f9ff94;}
.article:nth-child(odd) a{
    color: #F1FF00;}
.article:nth-child(even) {
    color: #CC0000;
    background-color: #ffc3c3;}

.article:nth-child(even) a{
    color: #FF0000;}