/*
layout - navbar at top right

*/
/* 
    Created on : Nov 19, 2015, 3:25:28 AM
    Author     : RAM
*/

* {
    box-sizing: border-box;
    text-align: center;}
body {
    width: 90%;
    margin: 0 auto;}
#header {
    padding: 0px 0px 0px 0px;
    height: max-content;
    position: fixed;
    top: 0px;
    width: 90%;
    z-index: 50;}
#banner{
    float: left;
    display: inline;
    width: 14%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;}
#banner img{
    width: 100%;
    height: auto;}    
#nav {
    float: right;
    padding-top: 10%;
    margin-left: 10px;
    margin-right: 10px;}
#nav li {
    display: inline;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;}
#content {
    overflow: auto;}
#banner, #nav, #feature, #footer {
    margin: 1%;}
.column1, .column2, .column3 {
    margin: 1%;}
#nav, #footer {
    padding: 0.5em 0;}
#feature {
    margin-top: 20%;
    position: relative;
    top: 30%;
}
#feature, .article {
    height: 10em;
    margin-bottom: 1em;}
#footer {
    clear: both;}