/*
layout - navbar centered under banner text like menu

*/
/* 
    Created on : Nov 19, 2015, 3:25:12 AM
    Author     : RAM
*/

* {
    box-sizing: border-box;
    text-align: center;}
body {
    width: 90%;
    margin: 0 auto;}
#content {
    overflow: auto;}
#banner img{
    width: 100%;
    height: auto;
}
#banner, #nav, #feature, #footer {
    margin: 1%;}
.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;}
.column3 {
    margin-right: 0%;}
#nav li {
    display: inline;
    padding: 0.5em;}
#nav, #footer {
    padding: 0.5em 0;}
#feature, .article {
    height: 10em;
    margin-bottom: 1em;}